table {/*applies style to entire table */
    text-align: center;
    padding: 5px;
}

td {/*applies style to inner cells*/
    border: 1px solid black;
}

th {
    background-color: #87CEEB;/*applies background colour to table headers*/
}
tr:nth-child(3) {
    background-color: yellow;

tr:nth-child(5) {
    background-color: blue;